header {
    max-width: 1366px;
    width: 100%;
    height: 324px;
    margin: 0;
    padding: 0;
    background-image: url(./../pictures/head.png);
    background-size: cover;
    .container {
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: $size03 $size08x 0 $size08;
            h4 a{
                color: $color01;
                font-family: 'Poppins';
            }
        }
            .navbar-li {
                display: inline-block;
                
                a {
                    color: $color01;
                    padding-left: $size05;
                    font-size: $size01;
                    font-family: 'Poppins';
                }
            }
            .navbar-li1 {
                display: inline-block;
                a {
                    color: $color01;
                    font-family: 'Poppins';
                    font-size: $size01;
                    &:hover {
                        color: $color02;
                    }
                }
            }
            .header-info {
                padding: 145px 0 0 $size08;
                a {
                    color: $color01;
                    
                }
                h4 {
                    display: inline-block;
                    font-size: $size02;
                    font-family: 'Poppins';
                }
                h2 {
                    font-size: $size04;
                    font-family: 'Poppins';
                }
                .border::after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 19px;
                    background-color: $color01;
                    margin-left: $size02;
                    margin-right: $size02;
                }
            }
    }

  }