@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-BlackItalic.eot');
    src: url('../../fonts/Poppins-BlackItalic.eot') format('embedded-opentype'),
        url('../../fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('../../fonts/Poppins-BlackItalic.woff') format('woff'),
        url('../../fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('../../fonts/Poppins-BlackItalic.svg') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}