// variables

//sizes
$size001 : 10px;
$size002 : 20px;
$size003 : 40px;
$size004 : 14px;
$size01 : 12px;
$size02 : 15px;
$size03 : 30px;
$size04 : 42px;
$size05 : 50px;


$size08 : 140px;

//color
$color01 : #FFFFFF;
$color02 : #5863F8;
$color03 : #B1B1B1;